.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0%;
    background-color: aqua;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a {
    color: rgb(255, 141, 11);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
.main-nav__item a:hover{
    color: blue;
}

.main-nav__item a:active{
    color: red;
}

.main-nav__item a::after{
    content: " | ";
}